[user]
  name = Ryan Gause
  email = rgause@lumificyber.com
[core]
  editor = vim
  autocrlf = input
[diff]
  tool = nvimdiff
[commit]
  verbose = true
[merge]
  tool = nvimdiff
  conflictstyle = diff3
[mergetool]
  keepBackup = false
[rerere]
  enabled = true
[column]
  ui = never
[alias]
  s = status
  l = log
  a = add
  c = commit
  d = diff
  rs = restore
  b = !git --no-pager branch
  w = worktree
